__pycache__
**/__pycache__
sketchRNN/sketchRNN.egg-info
sketchRNN/draw_models/*.pth
sketchRNN/draw_models/hp_folder/*.pickle
!sketchRNN/draw_models/decoder_broccoli_car_cat_20000.pth
!sketchRNN/draw_models/encoder_broccoli_car_cat_20000.pth
!sketchRNN/draw_models/hp_folder/broccoli_car_cat_20000.pickle
